<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Profile</p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
					<% if user_signed_in? %>
						<% if current_user.image.attached? %>
							<%= image_tag(current_user.image ) %>
						<% else %>
						<%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
						<% end %>
					<% end %>
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong><%= current_user.name %></strong><br />
							<small><%= current_user.username %></small>
						</p>
					</div>
				</div>
			</article>
		</div>
		<div class="panel-block">
			<div class="level is-mobile">
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Posts</p>
						<p class="title is-6"><%= current_user.posts.count %></p>
					</div>
				</div>
				<div class="level-item has-centered-text">
					<div>
						<p class="heading">Following</p>
						<p class="title is-6">123</p>
					</div>
				</div>
					<div class="level-item has-centered-text">
					<div>
						<p class="heading">Followers</p>
						<p class="title is-6">465K</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-block">
			<div class="media">
					<div class="media-left">
						<a >
								<figure class="image is-32x32">
								<%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
								</figure>
						</a>
						<a  >
								<p > <%= current_user.name %> </p>
						</a>
						<%= link_to 'Remove Photo',
              delete_an_image_url(attachment_id: current_user.image.id),
              method: :delete
              %>
					</div>
			</div>
		</div>

	</nav>
</div>
