<!DOCTYPE html>
<html>
  <head>
    <title>Blogchain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'rails-ujs' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <section class="Main is-primary is-medium">
    <!-- Main head: will stick at the top -->
    <div class="Main-head">
      <nav class="navbar is-light">
        <div class="container">

        <div class="navbar-brand">
            <%= link_to 'Blogchain', root_path, class: "navbar-item" %>
            <span class="navbar-burger burger" data-target="navbarMenuMainA">

            </span>
        </div>

          <div class="navbar-item">
            <p class="control has-icons-left">
              <input class="input is-rounded" type="text" placeholder="Search Articles">
              <span class="icon is-left" >
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>

        <div id="navbarMenuMainA" class="navbar-menu">
          <div class="navbar-end">
          <% if user_signed_in? %>
            <%= link_to "Write +", new_post_path, class:"navbar-item" %>
            <div class="navbar-item">
              <p> Notification </p>
            </div>
          <% end %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Menu
              </a>

              <div class="navbar-dropdown">
                <% if user_signed_in? %>
                  <p class="navbar-item">
                  <%= link_to  'Profile', edit_user_registration_path %>
                  </p>
                  <a class="navbar-item">
                    Stories
                  </a>
                  <a class="navbar-item">
                    Liabrary
                  </a>
                  <a class="navbar-item">
                    Stats
                  </a>
                  <hr class="navbar-divider">
                  <div class="navbar-item">

                  <li><%= link_to "Logout #{current_user.email}", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>

        </div>
      </nav>
    </div>

    <!-- Main content: will be in the middle -->
      <div class="Main-body">
        <div class="container has-text-rjust">
          <h1 class="title">
            <%= yield :page_title %>
          </h1>
        </div>
      </div>
    </section>
    <%=yield %>
  </body>
</html>
